<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.6/phpunit.xsd"
         bootstrap="tests/bootstrap.php"
         colors="true"
         beStrictAboutTestsThatDoNotTestAnything="false"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true">
  <testsuites>
    <testsuite name="anpa-socios">
      <file>tests/Test_ANPA_Socios_Payload.php</file>
      <file>tests/Test_ANPA_Socios_Codigo_Generator.php</file>
      <file>tests/Test_ANPA_Socios_Rate_Limiter.php</file>
      <file>tests/Test_ANPA_Socios_Area_Session.php</file>
      <file>tests/Test_ANPA_Socios_Roles.php</file>
      <file>tests/Test_ANPA_Socios_Flow.php</file>
      <file>tests/Test_ANPA_Socios_Admin_Payload.php</file>
      <file>tests/Test_ANPA_Socios_Legacy_Hardcodes.php</file>
      <file>tests/Test_ANPA_Socios_Config_Menu_Name.php</file>
      <file>tests/Test_ANPA_Socios_Estrutura_Escolar.php</file>
      <file>tests/Test_ANPA_Socios_Grupo_Niveis.php</file>
      <file>tests/Test_ANPA_Socios_DB_Migration.php</file>
      <file>tests/Test_ANPA_Socios_Disponibilidade_Horaria.php</file>
	  <file>tests/Test_ANPA_Socios_Grupos_Horarios.php</file>
      <file>tests/Test_ANPA_Socios_Admin_Estrutura_Handler.php</file>
      <file>tests/Test_ANPA_Socios_Fillos_Handlers_ES4.php</file>
      <file>tests/Test_ANPA_Socios_Fillos_Dinamicos.php</file>
      <file>tests/Test_ANPA_Socios_Grupos_Niveis_Dinamicos.php</file>
      <file>tests/Test_ANPA_Socios_Grupo_Series_Handler.php</file>
      <file>tests/Test_ANPA_Socios_Empresa_View.php</file>
      <file>tests/Test_ANPA_Socios_Csv.php</file>
      <file>tests/Test_ANPA_Socios_Antibot.php</file>
      <file>tests/Test_ANPA_Socios_Alumnos_Export_Columns.php</file>
      <file>tests/Test_ANPA_Socios_Fillo_Curso_Grupo.php</file>
      <file>tests/Test_ANPA_Socios_Forms_Identity.php</file>
      <file>tests/Test_ANPA_Socios_Alta_Payload.php</file>
      <file>tests/Test_ANPA_Socios_Approval_Second_Parent.php</file>
      <file>tests/Test_ANPA_Socios_Single_Page.php</file>
      <file>tests/Test_ANPA_Socios_Crypto.php</file>
      <file>tests/Test_ANPA_Socios_Export_Exclusion.php</file>
      <file>tests/Test_ANPA_Socios_Actividade_Options.php</file>
      <file>tests/Test_ANPA_Socios_Curso_Escolar.php</file>
      <file>tests/Test_ANPA_Socios_Curso_Lifecycle.php</file>
      <file>tests/Test_ANPA_Socios_Course_Settings.php</file>
      <file>tests/Test_ANPA_Socios_Horario_Builder.php</file>
      <file>tests/Test_ANPA_Socios_Admin_Nav.php</file>
      <file>tests/Test_ANPA_Socios_WpCli_Remote.php</file>
      <file>tests/Test_ANPA_Socios_Verificacion_Guard.php</file>
      <file>tests/Test_ANPA_Socios_Admin_Auth.php</file>
      <file>tests/Test_ANPA_Socios_Master_Auth_Removed.php</file>
      <file>tests/Test_ANPA_Socios_Security_Fase17.php</file>
      <file>tests/Test_ANPA_Socios_Sepa.php</file>
      <file>tests/Test_ANPA_Socios_Admin_Audit_Hardening.php</file>
      <file>tests/Test_ANPA_Socios_Admin_Regression_Fixes.php</file>
      <file>tests/Test_ANPA_Socios_Activity_Group_Ownership.php</file>
      <file>tests/Test_ANPA_Socios_Normalize.php</file>
      <file>tests/Test_ANPA_Socios_Familia.php</file>
      <file>tests/Test_ANPA_Socios_Csv_Import.php</file>
      <file>tests/Test_ANPA_Socios_Csv_Import_Iban.php</file>
      <file>tests/Test_ANPA_Socios_Csv_Roundtrip_Contracts.php</file>
      <file>tests/Test_ANPA_Socios_Trimestre.php</file>
      <file>tests/Test_ANPA_Socios_Backup_Tables.php</file>
      <file>tests/Test_ANPA_Socios_Fillos_Export_No_Duplication.php</file>
      <file>tests/Test_ANPA_Socios_Grupo_Dinamico_Assert.php</file>
      <file>tests/Test_ANPA_Socios_Fillo_Curso_Assignment_Mirror.php</file>
      <file>tests/Test_ANPA_Socios_Adversarial_ES7.php</file>
      <file>tests/Test_ANPA_Socios_PR_ES8_Second_Half.php</file>
      <file>tests/Test_ANPA_Socios_PR_ES9_Horario.php</file>
      <file>tests/Test_ANPA_Socios_Actividades_Collapse.php</file>
      <file>tests/Test_ANPA_Socios_List_Actividades_Contract.php</file>
      <file>tests/Test_ANPA_Socios_Actividades_Retired_Horario.php</file>
      <file>tests/Test_ANPA_Socios_Cursos_Niveis_Contract.php</file>
      <file>tests/Test_ANPA_Socios_PR_ES9_Icono.php</file>
      <file>tests/Test_ANPA_Socios_Fillo_Curso_Ids_Backfill.php</file>
      <file>tests/Test_ANPA_Socios_Grupos_Curriculares.php</file>
      <file>tests/Test_ANPA_Socios_Admin_Grupos_Curriculares_Handler.php</file>
      <file>tests/Test_ANPA_Socios_Prazas.php</file>
      <file>tests/Test_ANPA_Socios_PR_GA11.php</file>
      <file>tests/Test_ANPA_Socios_Nivel_Promotion.php</file>
	  <file>tests/Test_ANPA_Socios_Fase28_Public_Groups.php</file>
      <file>tests/Test_ANPA_Socios_Activity_Group_Projection.php</file>
      <file>tests/Test_ANPA_Socios_Fase30_Current_Group_Year.php</file>
      <file>tests/Test_ANPA_Socios_Fase30_Admin_Group_UI.php</file>
      <file>tests/Test_ANPA_Socios_Niveis_Curso_Pivot.php</file>
      <file>tests/Test_ANPA_Socios_Prerelease_Channel.php</file>
      <file>tests/Test_ANPA_Socios_Uninstall.php</file>
      <file>tests/Test_ANPA_Socios_Import_Row_Selection.php</file>
      <file>tests/Test_ANPA_Socios_Setup_Wizard.php</file>
      <file>tests/Test_ANPA_Socios_Fillos_Grouped_Header.php</file>
      <file>tests/Test_ANPA_Socios_Actividades_Effective_State.php</file>
      <file>tests/Test_ANPA_Socios_Fase32_Area_Shell.php</file>
      <file>tests/Test_ANPA_Socios_Banking_Gate.php</file>
      <file>tests/Test_ANPA_Socios_Calendario.php</file>
      <file>tests/Test_ANPA_Socios_Trimestre_Admin_Ui.php</file>
      <file>tests/Test_ANPA_Socios_Email_Queue_Domain.php</file>
    </testsuite>
  </testsuites>
</phpunit>
